/.row
/  .col-lg-12
/    .form-group
/
/
/<p>
/  <strong>Title:</strong>
/  <%= @zolna_embed_page.title %>
/</p>
/
/<p>
/  <strong>Description:</strong>
/  <%= @zolna_embed_page.description %>
/</p>
/
/<p>
/  <strong>Video snap url:</strong>
/  <%= @zolna_embed_page.video_snap_url %>
/</p>
/
/<p>
/  <strong>Source mp4 url:</strong>
/  <%= @zolna_embed_page.source_mp4_url %>
/</p>
/
/<p>
/  <strong>Additional tags:</strong>
/  <%= @zolna_embed_page.additional_tags %>
/</p>
/
/<p>
/  <strong>Steemit permalink:</strong>
/  <%= @zolna_embed_page.steemit_permalink %>
/</p>
/
/<%= link_to 'Edit', edit_zolna_embed_page_path(@zolna_embed_page) %> |
/<%= link_to 'Back', zolna_embed_pages_path %>
